<nav>
  <ul class="navigation">
    <li><%= link_to "About us", "#" %></li>
    <li><%= link_to "Pricing", "#" %></li>
    <li><%= link_to "Contact", "#" %></li>
  </ul>
  <div class="buttons">
    <%= link_to "Sign up", "#", class: "btn-main" %>
    <%= link_to "Get a quote", "#", class: "btn-hot" %>
  </div>
</nav>
<%# <%= render "home/header" %>